Repository Sonia-corporation/ngx-achievements: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  2717421ca31d18d64abbc9e123edbd3c8427d601
Due: none

fix: add missing script to deploy to gh-pages
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  67fba72de420e02a70a78ac73bcd6899a7e2bb83
Due: none

fix: add missing dep to deploy to gh-pages
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  3a95812a2c65c83dab770d72891b636e30cdc88e
Due: none

fix: build compodoc, storybook and the website as expected in the release
  .eslintignore
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  .prettierignore
  angular.json
  apps/website/jest.config.js
  lint-staged.config.js
  package-lock.json
  package.json
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

style: format lint staged
  lint-staged.config.js
Due: npm run affected:lint:ts:hook

chore(deps): pin dependency nx to v12.6.3
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(lint): fix the spawn of the files for the ts link hook
  lint-staged.config.js
Due: npm run affected:lint:ts:hook

chore(i18n): remove wrong location of the translation file
  messages.xlf
Due: none

fix(release): fix an issue with the website storybook step
  angular.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update nrwl monorepo to v12.6.4
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  67c89e347dfe1ee07ad8f3ee7b02195be4eeff3b
Due: none

chore(deps): update dependency @types/node to v14.17.9
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

fix(assets): change the base href for the gh pages production to download the assets
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  302d7a8d8db67e362b1b92aefb264a04726341f2
Due: none

Updates
  compodoc/components/AppComponent.html
  compodoc/js/menu-wc.js
  compodoc/js/menu-wc_es5.js
  compodoc/js/search/search_index.js
  compodoc/miscellaneous/variables.html
  compodoc/modules/AppModule.html
  compodoc/unit-test.html
  en/index.html
  en/main.29b488b96fe2c314da17.js
  en/polyfills.aa77cfc584652368b06b.js
  en/runtime.6f381a7bf3a530585193.js
  en/vendor.8b915d44d5ef299dab1b.js
  fr/index.html
  fr/main.29b488b96fe2c314da17.js
  fr/polyfills.aa77cfc584652368b06b.js
  fr/runtime.6f381a7bf3a530585193.js
  fr/vendor.8b915d44d5ef299dab1b.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

fix(assets): change the output folder for the gh pages production to download the assets
  angular.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(github): add a pull request template
  PULL_REQUEST_TEMPLATE.md
Due: npm run lint:workspace, npm run affected:lint:other

chore(github): add an issue template
  ISSUE_TEMPLATE.md
Due: npm run lint:workspace, npm run affected:lint:other

build(release): new version 1.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Notes added by 'git notes add'
  247edb60c24616d2b87ab99961c8ba6aa09b8019
Due: none

chore(deps): update dependency @nrwl/nx-cloud to v12.3.6
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency lint-staged to v11.1.2
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update nrwl monorepo to v12.6.5
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency concurrently to v6.2.1
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency @types/jest to v27
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency @nrwl/nx-cloud to v12.3.10
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): migrate nx
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency tslib to v2.3.1
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

build(release): add a script to deploy to gh-pages locally
  .gitignore
  package.json
  tools/deploy-to-gh-pages.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

Path conditions:
  npm run affected:lint:ts:hook: any of: *.{ts,js}
  npm run lint:workspace: any of: *.{md,json,yml,html}
  npm run affected:lint:other: any of: *.{md,json,yml,html}
