Repository Sonia-corporation/ngx-achievements: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

chore(release): deploy new GitHub pages version
  en/3rdpartylicenses.txt
  en/favicon.ico
  en/index.html
  en/main.f5326549f44952f3c077.js
  en/polyfills.2e66cde5ae27a6798855.js
  en/runtime.6f381a7bf3a530585193.js
  en/styles.ced69ff2e23197350e51.css
  en/vendor.8b915d44d5ef299dab1b.js
  fr/3rdpartylicenses.txt
  fr/favicon.ico
  fr/index.html
  fr/main.f5326549f44952f3c077.js
  fr/polyfills.2e66cde5ae27a6798855.js
  fr/runtime.6f381a7bf3a530585193.js
  fr/styles.ced69ff2e23197350e51.css
  fr/vendor.8b915d44d5ef299dab1b.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

chore(release): deploy new GitHub pages version
  en/index.html
  fr/index.html
Due: npm run lint:workspace, npm run affected:lint:other

chore(release): deploy new GitHub pages version
  en/index.html
Due: npm run lint:workspace, npm run affected:lint:other

chore(gh-pages): only ignore root gh-pages folder
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore(release): deploy new GitHub pages version
  en/3rdpartylicenses.txt
  en/favicon.ico
  en/index.html
  fr/3rdpartylicenses.txt
  fr/favicon.ico
  fr/index.html
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency nx to v12.6.6
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

fix(assets): use a correct path to load the assets
  package-lock.json
  package.json
  tools/chalk.js
  tools/gh-pages/deploy-to-gh-pages.js
  tools/gh-pages/set-gh-pages-deploy-urls.js
  tools/logger.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

fix(assets): load the favicon
  package.json
  tools/gh-pages/set-assets-urls.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

fix(assets): add missing locale when loading the favicon
  package-lock.json
  package.json
  tools/gh-pages/set-assets-urls.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

chore(release): deploy new GitHub pages version
  en/favicon.ico
  fr/favicon.ico
Due: none

feat(favicon): use a better favicon
  apps/website/src/favicon.ico
Due: none

build(replace): only replace the content of the index.html
  tools/gh-pages/set-assets-urls.js
  tools/gh-pages/set-gh-pages-deploy-urls.js
Due: npm run affected:lint:ts:hook

feat(webapp): add a service worker
  angular.json
  apps/website/ngsw-config.json
  apps/website/src/app/app.module.ts
  apps/website/src/assets/icons/icon-128x128.png
  apps/website/src/assets/icons/icon-144x144.png
  apps/website/src/assets/icons/icon-152x152.png
  apps/website/src/assets/icons/icon-192x192.png
  apps/website/src/assets/icons/icon-384x384.png
  apps/website/src/assets/icons/icon-512x512.png
  apps/website/src/assets/icons/icon-72x72.png
  apps/website/src/assets/icons/icon-96x96.png
  apps/website/src/environments/environment.prod.ts
  apps/website/src/environments/environment.ts
  apps/website/src/index.html
  apps/website/src/main.ts
  apps/website/src/manifest.webmanifest
  package-lock.json
  package.json
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

chore(release): deploy new GitHub pages version
  en/3rdpartylicenses.txt
  en/assets/icons/icon-128x128.png
  en/assets/icons/icon-144x144.png
  en/assets/icons/icon-152x152.png
  en/assets/icons/icon-192x192.png
  en/assets/icons/icon-384x384.png
  en/assets/icons/icon-512x512.png
  en/assets/icons/icon-72x72.png
  en/assets/icons/icon-96x96.png
  en/index.html
  en/main.8a73876b129c90a5e1da.js
  en/manifest.webmanifest
  en/ngsw-worker.js
  en/ngsw.json
  en/polyfills.1b41aefaa37b60c32e33.js
  en/runtime.699b145cb611913c5f73.js
  en/safety-worker.js
  en/vendor.8b915d44d5ef299dab1b.js
  en/vendor.f2630219d247c3dbf8d9.js
  en/worker-basic.min.js
  fr/3rdpartylicenses.txt
  fr/assets/icons/icon-128x128.png
  fr/assets/icons/icon-144x144.png
  fr/assets/icons/icon-152x152.png
  fr/assets/icons/icon-192x192.png
  fr/assets/icons/icon-384x384.png
  fr/assets/icons/icon-512x512.png
  fr/assets/icons/icon-72x72.png
  fr/assets/icons/icon-96x96.png
  fr/index.html
  fr/main.8a73876b129c90a5e1da.js
  fr/manifest.webmanifest
  fr/ngsw-worker.js
  fr/ngsw.json
  fr/polyfills.1b41aefaa37b60c32e33.js
  fr/runtime.699b145cb611913c5f73.js
  fr/safety-worker.js
  fr/vendor.8b915d44d5ef299dab1b.js
  fr/vendor.f2630219d247c3dbf8d9.js
  fr/worker-basic.min.js
Due: npm run affected:lint:ts:hook, npm run lint:workspace, npm run affected:lint:other

fix(assets): fix the paths of the assets from the manifest
  tools/gh-pages/set-assets-urls.js
  tools/gh-pages/set-gh-pages-deploy-urls.js
Due: npm run affected:lint:ts:hook

chore(deps): update angularcli monorepo
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency chalk to v4.1.2
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update nrwl monorepo to v999
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency ts-jest to v27.0.5
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency @types/node to v14.17.11
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency jest-preset-angular to v9.0.7
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency semantic-release to v17.4.5
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency autoprefixer to v10.3.2
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency jest to v27.1.0
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency husky to v7.0.2
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency semantic-release to v17.4.7
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

chore(deps): update dependency autoprefixer to v10.3.4
  package-lock.json
  package.json
Due: npm run lint:workspace, npm run affected:lint:other

Path conditions:
  npm run affected:lint:ts:hook: any of: *.{ts,js}
  npm run lint:workspace: any of: *.{md,json,yml,html}
  npm run affected:lint:other: any of: *.{md,json,yml,html}
